<div class="test">

    <p>Flight Ticket Booking Form</p>

    <div class="booking-form-box">

        <div class="radio-btn">
            <input type="radio" class="btn" name="check" checked="checked"><span>One Way</span>
            <input type="radio" class="btn" name="check" checked="checked"><span>Round Trip</span>
        </div>


        <div class="booking-form">
            <div class="input-g">
                <label> From</label>
                <input type="text" class="form-c" placeholder="City or Airport">
            </div>


            <div class="input-g">

                <label> To</label>
                <input type="text" class="form-c" placeholder="Everywhere">
            </div>



            <div class="input-g">

                <label> Departing</label>
                <input type="date" class="form select-date">
            </div>



            <div class="input-g">

                <label>Returning</label>
                <input type="date" class="form  select-date">
            </div>



            <div class="input-g"> 

                <label>Adults</label>
                <input type="number" class="form" value="1">
            </div>



            <div class="input-g">
                <label>Children</label>
                <input type="number" class="form" value="0">
            </div>



            <div class="input-g">
                <label>Travel Class</label>
                <select class="custom-form">
                    <option>Economy Class</option>
                    <option>Business Class</option>
                    <option>First Class</option>
                </select>
                
            </div>
            <div class="input-g">
                <button type="button" class="primary-flight">Show Flights</button>

            </div>

        </div>

    </div>
</div>
