<p>flight-booking-project works!</p>


<div class="topnav">
    <a href="">
        <img src="../../../assets/globe.png" height="50" width="50">
    </a>
    <a href="#">Search</a>
    <a href="#">Register</a>
    <a href="#">Log In</a>
</div>

<home-page></home-page>

<footer class="leg">

    <div class="social-media">
        <p>fllow us on:</p>

        <div>

            <ul>
                <li>
                    <fa-icon [icon]="faCoffee"></fa-icon>
                </li>

            </ul>

        </div>
        <div class="cpy-right">
            <p>&copy; 2020. S.B FlightBooking.com</p>
        </div>

    </div>

</footer>